#navegador{
    background-color: #000;
    background-image: linear-gradient(to top, black, #262120);
  }
  
  .navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: 0.9;
  }
  
  .navbar .nav-item .nav-link {
    color: #fff;
  }
  
  .iconoNav{
    background-color: white;
  }